<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321898542710-q3ulk3bvkdf8ip7qps83r7elq7elper9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321898542710-q3ulk3bvkdf8ip7qps83r7elq7elper9</string>
	<key>API_KEY</key>
	<string>AIzaSyCqzlQIQm-qJLRfvtC8r6uf9HAMYYUgzbY</string>
	<key>GCM_SENDER_ID</key>
	<string>321898542710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.starrywings.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatlocation-ios13</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatlocation-ios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321898542710:ios:1a2f941037786da8d35157</string>
	<key>DATABASE_URL</key>
	<string>https://flashchatlocation-ios13.firebaseio.com</string>
</dict>
</plist>